body{
	background-color: rgb(223,223,223) !important;
	/*background: url("logo1.jpg");*/
	}


/*rgb(233,83,85)*/
header{
	background-color:orangered;
}
@media(max-width:767px) {
    #toolbar{
    	width:100%;
    }
}
nav{
	background-color: orangered;

}

#testas{
	margin-top: 2000px;
	padding-top: 50px;
}